:root {
	--accent: olive;

	--grid-columns: repeat(2, 1fr);
	--spacing: 20px;
	--card-radius: 20px;
}

@media screen and (min-width: 768px) {
	:root {
		--grid-columns: repeat(3, 1fr);
		--spacing: 30px;
		--card-radius: 30px;
	}
}

/* @media screen and (min-width: 1024px) {
	:root {
		--gr
	}
} */

/*  */

@font-face {
	font-family: Affogato;
	font-weight: 500;
	src: url(./fonts/Affogato-Medium.otf);
}

@font-face {
	font-family: Affogato;
	font-weight: 700;
	src: url(./fonts/Affogato-Bold.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: Affogato;
}

html,
body,
#svelte {
	height: 100%;
	width: 100%;
	padding: 0;
	background-color: lightgray;
}

#svelte {
	display: flex;
	flex-flow: column nowrap;
}

.max-width {
	max-width: 1000px;
	margin: 0 auto;
}

.grid {
	display: grid;
	grid-template-columns: var(--grid-columns);
	padding: var(--spacing);
	gap: var(--spacing);
}

.nav-button {
	width: 38px;
	min-width: 38px;
	max-width: 38px;
	height: 38px;
	min-height: 38px;
	max-height: 38px;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: none;
}

.nav-button:hover {
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}
